# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/dist
/uploads

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# IDEs
.vscode/
*.swp

# Prisma
prisma/migrations/
